.post_title {
    display: block;
    font-size: 30px;
    color: #a0a0aa;
}

.post_date {
    color: #a0a0aa;
}

.post_category {
    font-family: 'Futura-CondensedMedium';
    color: #ac3b61;
}

img.blog_main_image {
    display: block;
    max-width: 100%;
    height: auto;
}

div.post_content {
    max-width: 100%;
    color: #123c69;
    font-family: Avenir;
    font-size: 14px;
}

div.post_meta {
    padding-bottom: 5px;
    font-size: 14px;
}
