body {
    all: unset;
}

div#background {
    padding-left: 50px;
    width: 100%;
    min-height: 100vh;
    background-color: #eee2dc;
}

h1,
h2 {
    all: unset;
}

h1,
h2,
subtitle {
    font-family: 'Futura-CondensedMedium';
}

#title {
    font-size: 72px;
    color: #ac3b61;
    padding-bottom: 45px;
    padding-top: 20px;
    display: block;
}
