.post_title {
    display: block;
    font-size: 30px;
    color: #a0a0aa;
}

.post_date {
    color: #a0a0aa;
}

.post_category {
    font-family: 'Futura-CondensedMedium';
    color: #ac3b61;
}

.post_img_caption {
    color: #123c69;
    font-family: Avenir;
    font-size: 14px;
    text-align: center;
}

img.blog_main_image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img.blog_center_image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img.blog_left_figure {
    float: left;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img.blog_right_figure {
    float: right;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.post_content {
    max-width: 100%;
    color: #123c69;
    font-family: Avenir;
    font-size: 14px;
}

div.post_meta {
    padding-bottom: 10px;
    font-size: 14px;
}

a.read_more {
    text-decoration: none;
    font-family: 'Futura-CondensedMedium';
    color: #ac3b61;
    font-size: 20px;
    visibility: hidden;
}

#blog_content {
    padding-bottom: 20px;
}

#post_content_preview {
    padding-bottom: 10px;
}
