body {
    all: unset;
}

div#background {
    padding-left: 50px;
    width: 100%;
    min-height: 100vh;
    background-color: #eee2dc;
}

#content_nav {
    display: -webkit-flex;
    display: flex;
}

#left_container {
    max-width: 500px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}

h1,
h2 {
    all: unset;
}

h1,
h2,
subtitle,
#previous_post,
#next_post,
#side_nav_list {
    font-family: 'Futura-CondensedMedium';
}

h1#title {
    font-size: 72px;
    color: #ac3b61;
    padding-top: 20px;
    display: block;
}

h2#site_subtitle {
    font-size: 25px;
    color: #123c69;
}

a#go_home_link {
    text-decoration: none;
}

header {
    padding-bottom: 45px;
}

#previous_post_arrow {
    display: inline-block;
}

#previous_post,
#next_post {
    display: inline-block;
    font-size: 18px;
}

a#previous_post_button,
a#next_post_button {
    text-decoration: none;
    color: #123c69
}

a#next_post_button {
    float: right;
}

#right_container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

#side_nav_list {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.nav_link {
    text-decoration: none;
    color: #8e8e90;
}
